.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}



.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.container-flex .item {
  width: 30%;
  flex-grow: 1;
}
