* {
  box-sizing: border-box;
}

body {
  background-color: #eaebec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
