:root {
  --clr-primary: #e30914;
  --clr-black: #000000;
  --clr-white: #fff;
  --clr-gray: #222;
  --p-x: 1rem;
  --p-y: 2rem;
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  :root {
    --p-x: 2rem;
    --p-y: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --p-x: 3rem;
    --p-y: 5rem;
  }
  html {
    font-size: 26px;
  }
}

/* Component - button */

.btn {
  position: relative;
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transform: scale(1);
  bottom: 0;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  bottom: 0.125rem;
  box-shadow: var(--shadow-lg);
}

/* Component - section */
section {
  border-bottom: 6px solid var(--clr-gray);
}

/* Component - input */
.input-wrapper {
  --btn-width: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.input-wrapper .btn {
  width: var(--btn-width);
}

.input-wrapper .input {
  width: 100%;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  box-shadow: var(--shadow-md);
}

@media screen and (min-width: 640px) {
  .input-wrapper {
    --btn-width: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    flex-wrap: nowrap;
    row-gap: unset;
    justify-content: start;
    align-items: stretch;
  }

  .input-wrapper .input {
    width: calc(100% - var(--btn-width));
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .input-wrapper .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .input-wrapper .btn:hover {
    transform: unset;
    bottom: unset;
    box-shadow: unset;
  }
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    --btn-width: 180px;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .input-wrapper {
    --btn-width: 240px;
    width: 720px;
  }
}

/* Header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.header.filled {
  background-color: var(--clr-black);
}

.header img {
  height: 40px;
}

/* Hero Section */

#hero {
  height: 100vh;
  position: relative;
  padding: 0px var(--p-x);
}

#hero .bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

#hero .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .content .title {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

#hero .content .sub-title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

#hero .content .sub-title:last-of-type {
  margin-bottom: 0.5rem;
}

#hero .content .hint {
  font-size: 1rem;
  font-weight: 400;
}

#hero .input-wrapper {
  margin-bottom: 1rem;
}

/* Section type feature*/
.title--section {
  text-align: center;
  font-size: 1.5rem;
}

.feature-section {
  padding: var(--p-y) var(--p-x);
  text-align: center;
}

.feature-section .content {
  margin-bottom: 1rem;
}
.feature-section .content .title {
  margin-bottom: 0.5rem;
}

.feature-section .content .desc {
  font-size: 1rem;
}

.feature-section .feature-img {
  width: 100%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .feature-section,
  .feature-section .title--section {
    text-align: left;
  }

  .feature-section .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }

  .feature-section:nth-of-type(odd) .feature-img {
    order: -1;
  }

  .feature-section .feature-img {
    max-width: unset;
  }
}

@media screen and (min-width: 768px) {
  .feature-section .content-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* FAQ */

#faq {
  padding: var(--p-y) 0px;
}

#faq .title--section {
  margin-bottom: 1rem;
}

#faq .questions {
  margin-bottom: 2rem;
}

#faq .questions > * + * {
  margin-top: 0.5rem;
}

#faq .question {
  background-color: var(--clr-gray);
  padding: 0.5rem var(--p-x);
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

#faq .question .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq .question .line .text {
  font-weight: 500;
}

#faq .question .line .btn-icon {
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 0px;
  color: var(--clr-white);
  font-size: 2rem;
  line-height: 1;
  transition: all 300ms ease-in-out;
  transform-origin: center center;
  transform: scale(1) rotate(0deg);
  cursor: pointer;
}

#faq .question .line .btn-icon:hover {
  transform: scale(1.1) rotate(-45deg);
}

#faq .question .content {
  height: 0px;
  overflow: hidden;
}

#faq .question .content.visible {
  height: auto;
}

#faq .subscription {
  padding: 0px var(--p-x);
  text-align: center;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

#faq .subscription .title {
  font-weight: 500;
  margin: 0px auto 1rem auto;
  max-width: 460px;
}
