.layout {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.layout-item {
  display: inline-block;
  width: calc((100% - 32px) / 3);
  margin: 16px 16px 16px 0;
  vertical-align: middle;
}

.layout-item:nth-child(3n) {
  margin-right: 0px;
}