* {
  box-sizing: border-box;
}

body {
  background-color: #eaebec;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
}

.item {
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  width: 100px;
  height: 100px;
}

.main {
  padding: 2rem;
  border: 2px solid black;
  position: relative;
  height: 400px;
}

.main__first {
  background-color: #845ec2;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.main__second {
  background-color: #d65db1;
  top: 50px;
  left: 50px;
  z-index: 13;
}
.main__third {
  background-color: #ff6f91;
  top: 100px;
  left: 100px;

  z-index: 12;
}

.sub {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 11;
}

.sub__first {
  background-color: #ff9671;
  top: 150px;
  left: 150px;

  z-index: 12;
}
.sub__second {
  background-color: #ffc75f;
  top: 200px;
  left: 200px;

  z-index: 9;
}
.sub__third {
  background-color: #008f7a;
  top: 250px;
  left: 250px;

  z-index: 20;
}
