#hero {
  padding: 48px 24px;
}

#hero .hero__img {
  margin-bottom: 40px;
}

#hero .content .content__title {
  font-size: 28px;
  text-align: center;
  color: var(--clr-black);
  margin-bottom: 20px;
}

#hero .content .content__desc {
  font-size: 16px;
  color: var(--clr-grey);
  margin-bottom: 20px;
}

#hero .content .content__actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
