@import url("reset.css");
@import url("variables.css");
@import url("hero-section.css");
@import url("clients-section.css");
@import url("business-cestion.css");

body {
  background-color: var(--clr-helper-3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.dark-theme {
  background-color: var(--clr-black);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--clr-grey);
}

/* .section--full{

} */

.section--narrow {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}

.section__title,
.section__desc {
  max-width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  font-size: 38px;
  margin-bottom: 16px;
  color: var(--clr-black);
}

.section__desc {
  margin-bottom: 50px;
  font-size: 18px;
  color: var(--clr-grey);
}

@media screen and (min-width: 1024px) {
  .section--narrow {
    padding: 100px 50px;
  }

  .section__title {
    margin-bottom: 30px;
    font-size: 46px;
  }

  .section__desc {
    font-size: 20px;
  }
}

/* Buttons */
.btn {
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  width: 190px;
  text-align: center;
  cursor: pointer;
}
.btn--primary {
  color: var(--clr-white);
  background-color: var(--clr-primary);

  box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}
