:root {
  --clr-primary: #185cff;
  --clr-secondary: #002b4e;
  --clr-tetriary: #f0f9ff;
  --clr-helper-1: #194060;
  --clr-helper2: #607d94;
  --clr-helper-3: #c9dcec;
  --clr-black: #292d33;
  --clr-grey: #9497a1;
  --clr-bg: #f1f6fa;
  --clr-danger: #c14040;
  --clr-white: #fff;
}
